a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

html,
body,
#app {
  height: 100vh;
  height: 100dvh;
}

body {
  margin: 0;
}

ul {
  margin: 0;
  padding-inline: 0;
}

input {
  font-family: inherit;
}
